@import "base/normalize"

* {
  position relative
  margin 0
  padding 0
  box-sizing border-box
}

html {
  font-size 18px
  line-height 1.4
}

body {
  background-color #F4F4F4

  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}

.Container {
  width 100%
  max-width 900px

  margin-top 3rem
  margin-left auto
  margin-right auto
  margin-bottom 3rem

  background-color #fff
}

.Header {
  padding 2rem
  padding-top 1rem
  padding-bottom 1rem

  background-color #CA9368
}

.Header-headline {
  margin 0
  color #fff
  font-size 1em
  font-weight normal

  a {
    color inherit
    text-decoration none
  }
}

.Content {
  padding 2rem
  padding-top 1rem
  padding-bottom 1rem

  color #292929

  p,
  ul {
    margin-top 1rem
    margin-bottom 1rem

    &:empty {
      display none
    }
  }

  ul {
    padding-left 2rem
    line-height 1.7
  }
}

.Recipes {
  display grid
  grid-template-columns 1fr 1fr
  grid-column-gap 1rem
  grid-row-gap 1rem
}

.Recipe {
  display flex
  align-items center
  justify-content center

  min-height 6rem

  border-radius 6px
  background-color #ddd

  color inherit
  font-weight bold
  text-decoration none
}

.Footer {
  padding-top 1rem
  padding-left 2rem
  padding-right 2rem

  background-color #F4F4F4
}

.Footer-link {
  color #aaa
  text-decoration none
}
