.Recipes {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  padding-left: 0;
}

.Recipe {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 5rem;
  padding: 1em;
  border: 1px solid var(--c-base-light);
  border-radius: 6px;
  color: var(--c-base);
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}
