<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Daniels Rezepte</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Die besten Rezepte, die man ständig braucht.">
    <meta name="author" content="Daniel Diekmeier">

    <link rel="shortcut icon" type="image/x-icon" href="<%= Routes.static_path(@conn, "/favicon.ico") %>">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(@conn, "/images/apple-touch-icon.png") %>">

    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/app.css") %>'>
    <script src='<%= Routes.static_path(@conn, "/js/app.js") %>' defer></script>
  </head>

  <body>
    <div class="Container">
      <header class="Header">
        <h1 class="Header-headline">
          <a href="/">
            <img
              src='<%= Routes.static_path(@conn, "/images/rezepte-logo-339.png") %>'
              srcset='
                <%= Routes.static_path(@conn, "/images/rezepte-logo-339.png") %> 339w,
                <%= Routes.static_path(@conn, "/images/rezepte-logo-339@2x.png") %> 678w,
                <%= Routes.static_path(@conn, "/images/rezepte-logo-864.png") %> 864w,
                <%= Routes.static_path(@conn, "/images/rezepte-logo-864@2x.png") %> 1728w
              '
              sizes="(min-width: 900px) 864px, 100vw"
              class="Header-logo"
            >
            <span>Daniels Rezepte</span>
          </a>
        </h1>

        <div class="Header-best">
          <%= if assigns[:recipe] do %>
            <%= @recipe.best %>
          <% else %>
            Die besten Rezepte
          <% end %>

          gibt es von <a href="https://losstopschade.de">Daniel Diekmeier</a>
        </div>
      </header>

      <main class="Content" role="main">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer class="Footer">
        <a href="https://losstopschade.de/impressum" class="Footer-link">Impressum</a>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
