.Footer {
  width calc(100% - 2rem)
  max-width calc(900px - 2rem)

  margin-left auto
  margin-right auto

  padding-top 1rem
  padding-bottom 1rem

  border-top 1px solid $c-base-light
}

.Footer-link {
  display inline-block
  border-bottom 1px dotted $c-base-light
  color $c-base-light
  text-decoration none
}
